

<%= flash_messages %>
<p><%= @project.name %></p>

<ul>
  <%@entries.each do |entry|%>
  <li><%= entry.hours %>h<%= entry.minutes %>m - <%= entry.date.strftime("%d/%m/%Y") %></li>
  <%= link_to("Edit", edit_project_entry_path(@project.id, entry.id)) %>
  <%= link_to("Delete", project_entry_path(@project.id, entry.id), method: :delete, data: {confirm: "Are you sure?"}) %>
  <% end %>

  <p>You have worked <%= project_hours_for_month(@project, @date) %> hours this month.</p>
  <%= link_to("Projects", projects_path)%>
  <%= link_to("Create entry", new_project_entry_path(@project))%>
</ul>